{% extends 'base-back/admin.html.twig' %}

{% block body %}
<body>

  <h2>Fetch The List: </h2>
  <button><a href="{{ path('new_list')  }}"> Add</a></button>
  <table border="7px" solid black style="width:40%">

    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Numero telephone</th>
      <th>Adresse</th>
      <th>montant</th>
      <th>Etat commande</th>
      <th>mode de paiement</th>
      <th>Modifier</th>
      <th>Delete</th>
    </tr>
    {% for item in form %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.Date | date("m/d/y")}}</td>
      <td>{{item.nom_client}}</td>
      <td>{{item.prenom_client}}</td>
      <td>{{item.telephone}}</td>
      <td>{{item.adresse}}</td>
      <td>{{item.montant}}</td>
      {% if item.etat_commande == 0 %}
        <td>Non livré </td>
      {% else %}
        <td> livré </td>
      {% endif %}
      {% if item.mode_paiement == 0 %}
        <td>Par Carte Bancaire </td>
      {% else %}
        <td>Par Cash </td>
      {% endif %}


      <td><a href="{{ path('update_Commande',{'id':item.id})  }}"> Modifier</a> </td>
      <td><a href="{{ path('Delete_Commande',{'id':item.id})  }}"> Delete</a> </td>
    </tr>
    {% endfor %}

  </table>

</body>

{%endblock%}