<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="../front/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../front/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../front/assets/css/slicknav.css">
            <link rel="stylesheet" href="../front/assets/css/animate.min.css">
            <link rel="stylesheet" href="../front/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../front/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../front/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../front/assets/css/slick.css">
            <link rel="stylesheet" href="../front/assets/css/nice-select.css">
            <link rel="stylesheet" href="../front/assets/css/style.css">
        {% endblock %}

        {% block javascripts %}
         <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
 <!-- Jquery, Popper, Bootstrap -->
 <script src="../front/./assets/js/vendor/jquery-1.12.4.min.js"></script>
 <script src="../front/./assets/js/popper.min.js"></script>
 <script src="../front/./assets/js/bootstrap.min.js"></script>
 <!-- Jquery Mobile Menu -->
 <script src="../front/./assets/js/jquery.slicknav.min.js"></script>

 <!-- Jquery Slick , Owl-Carousel Plugins -->
 <script src="../front/./assets/js/owl.carousel.min.js"></script>
 <script src="../front/./assets/js/slick.min.js"></script>

 <!-- One Page, Animated-HeadLin -->
 <script src="../front/./assets/js/wow.min.js"></script>
 <script src="../front/./assets/js/animated.headline.js"></script>
 <script src="../front/./assets/js/jquery.magnific-popup.js"></script>

 <!-- Nice-select, sticky -->
 <script src="../front/./assets/js/jquery.nice-select.min.js"></script>
 <script src="../front/./assets/js/jquery.sticky.js"></script>
 
 <!-- contact js -->
 <script src="../front/./assets/js/contact.js"></script>
 <script src="../front/./assets/js/jquery.form.js"></script>
 <script src="../front/./assets/js/jquery.validate.min.js"></script>
 <script src="../front/./assets/js/mail-script.js"></script>
 <script src="../front/./assets/js/jquery.ajaxchimp.min.js"></script>
 
 <!-- Jquery Plugins, main Jquery -->	
 <script src="../front/./assets/js/plugins.js"></script>
 <script src="../front/./assets/js/main.js"></script>
        {% endblock %}
         {% block head %}
           <!-- Preloader Start -->
</head>
<body class="black-bg">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/LOGO1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/LOGO.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="courses.html">Courses</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="event.html">Event</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                </ul>
                            </nav>
                        </div>          
                        <!-- Header-btn -->
                        <div class="d-flex">
                        <div class="header-btns d-none d-lg-block f-right">
                           <a href="login.html" class="btn">LOGIN</a>
                       </div>
                        <div class="header-btns d-none d-lg-block f-right px-4">
                            <a href="register.html" class="btn">SIGN UP</a>
                        </div>
                    </div>
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
  <!--? Hero Start -->
  <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 pt-70">
              <h2></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block footer %}
    <footer>
  <!--? Footer Start-->
  <div class="footer-area black-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- Footer Menu -->
        <div class="row">
          <div class="col-xl-12">
            <div class="single-footer-caption mb-50 text-center">
              <!-- logo -->
              <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
              </div>
              <!-- Menu -->
              <!-- Header Start -->
              <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                <div class="main-header main-header2">
                  <div class="menu-wrapper menu-wrapper2">
                    <!-- Main-menu -->
                    <div class="main-menu main-menu2 text-center">
                      <nav>
                        <ul>
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="courses.html">Courses</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="gallery.html">Gallery</a></li>
                          <li><a href="contact.html">Contact</a></li>
                        </ul>
                      </nav>
                    </div>   
                  </div>
                </div>
              </div>
              <!-- Header End -->
              <!-- social -->
              <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End-->
  </footer>
    {% endblock %}
</html>
